{
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "title": "Azure Media Services",
    "description": "This Swagger was generated by the API Framework.",
    "version": "2020-10-01-preview"
  },
  "host": "management.azure.com",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "Impersonate your user account"
      }
    }
  },
  "definitions": {
    "Tags": {
      "properties": {},
      "type": "object"
    },
    "GraphInstanceProperties": {
      "properties": {
        "topologyName": {
          "type": "string",
          "description": "Associated graph topology name."
        },
        "description": {
          "type": "string",
          "description": "Graph Instance description."
        },
        "state": {
          "type": "string",
          "enum": [
            "Inactive",
            "Activating",
            "Active",
            "Deactivating"
          ],
          "x-ms-enum": {
            "name": "Graph Instance state",
            "values": [
              {
                "value": "Inactive",
                "description": "Graph Instance is Inactive."
              },
              {
                "value": "Activating",
                "description": "Graph Instance is being activated."
              },
              {
                "value": "Active",
                "description": "Graph Instance is Active."
              },
              {
                "value": "Deactivating",
                "description": "Graph Instance is being deactivated."
              }
            ],
            "modelAsString": true
          },
          "description": "Graph Instance state.",
          "readOnly": true,
          "x-nullable": false
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ParameterDefinition"
          },
          "description": "Graph Instance parameters."
        }
      },
      "type": "object",
      "required": [
        "topologyName"
      ],
      "description": "Class for Graph Instance properties."
    },
    "ParameterDefinition": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Parameter definition name."
        },
        "value": {
          "type": "string",
          "description": "Parameter definition value."
        }
      },
      "type": "object",
      "required": [
        "name"
      ],
      "description": "Graph instance parameter definition."
    },
    "GraphInstance": {
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/GraphInstanceProperties",
          "x-ms-client-flatten": true
        },
        "systemData": {
          "readOnly": true,
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/systemData"
        }
      },
      "type": "object",
      "description": "The Graph Instance."
    },
    "OperationError": {
      "properties": {
        "code": {
          "type": "string",
          "description": "The operation error code."
        },
        "message": {
          "type": "string",
          "description": "The operation error message."
        }
      },
      "type": "object",
      "description": "The operation error."
    },
    "GraphInstanceOperationStatus": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the Graph Instance operation."
        },
        "status": {
          "type": "string",
          "description": "The status of the Graph Instance operation."
        },
        "error": {
          "$ref": "#/definitions/OperationError",
          "description": "The error details for the Graph Instance operation."
        }
      },
      "type": "object",
      "required": [
        "name"
      ],
      "description": "The status of the Graph Instance operation."
    },
    "ODataError": {
      "properties": {
        "code": {
          "type": "string",
          "description": "A language-independent error name."
        },
        "message": {
          "type": "string",
          "description": "The error message."
        },
        "target": {
          "type": "string",
          "description": "The target of the error (for example, the name of the property in error)."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ODataError"
          },
          "description": "The error details."
        }
      },
      "type": "object",
      "description": "Information about an error."
    },
    "ApiError": {
      "properties": {
        "error": {
          "$ref": "#/definitions/ODataError",
          "description": "The error properties."
        }
      },
      "type": "object",
      "description": "The API error."
    },
    "GraphInstanceCollection": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GraphInstance"
          },
          "description": "A collection of GraphInstance items."
        },
        "@odata.nextLink": {
          "type": "string",
          "description": "A link to the next page of the collection (when the collection contains too many results to return in one response)."
        }
      },
      "type": "object",
      "description": "A collection of GraphInstance items."
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/graphInstances": {
      "get": {
        "summary": "List Graph Instances",
        "description": "Lists Graph Instances in the Media Services account.",
        "operationId": "GraphInstances_List",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GraphInstanceCollection"
            }
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Specifies a non-negative integer n that limits the number of items returned from a collection. The service returns the number of available items up to but not greater than the specified value n."
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "x-ms-examples": {
          "List all Graph Instances": {
            "$ref": "examples/graph-instance-list-all.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/graphInstances/{graphInstanceName}": {
      "get": {
        "summary": "Get a Graph Instance",
        "description": "Get the details of a Graph Instance in the Media Services account.",
        "operationId": "GraphInstances_Get",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GraphInstance"
            }
          },
          "404": {
            "description": "NotFound"
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "graphInstanceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Graph Instance name."
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-examples": {
          "Get a Graph Instance by name": {
            "$ref": "examples/graph-instance-get-by-name.json"
          }
        }
      },
      "put": {
        "summary": "Create or update a Graph Instance",
        "description": "Create or update a Graph Instance in the Media Services account.",
        "operationId": "GraphInstances_CreateOrUpdate",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GraphInstance"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "graphInstanceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Graph Instance name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GraphInstance"
            },
            "description": "The request parameters"
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Create or update a Graph Instance": {
            "$ref": "examples/graph-instance-create.json"
          }
        }
      },
      "delete": {
        "summary": "Delete a Graph Instance",
        "description": "Deletes a Graph Instance in the Media Services account.",
        "operationId": "GraphInstances_Delete",
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "graphInstanceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Graph Instance name."
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-examples": {
          "Delete a Graph Instance": {
            "$ref": "examples/graph-instance-delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/graphInstances/{graphInstanceName}/activate": {
      "post": {
        "summary": "Activate a Graph Instance",
        "description": "Activate a Graph Instance in the Media Services account.",
        "operationId": "GraphInstances_Activate",
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "graphInstanceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Graph Instance name."
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Activate Graph Instance": {
            "$ref": "examples/graph-instance-activate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/graphInstances/{graphInstanceName}/deactivate": {
      "post": {
        "summary": "Deactivate a Graph Instance",
        "description": "Deactivate a Graph Instance in the Media Services account.",
        "operationId": "GraphInstances_Deactivate",
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "graphInstanceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Graph Instance name."
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Deactivate Graph Instance": {
            "$ref": "examples/graph-instance-deactivate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/graphInstances/{graphInstanceName}/operationsStatus/{operationId}": {
      "get": {
        "summary": "Get the operation status",
        "description": "Get the operation status of a Graph Instance in the media services account.",
        "operationId": "OperationsStatus_Get",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GraphInstanceOperationStatus"
            }
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "graphInstanceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Graph Instance name."
          },
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The operation ID."
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-examples": {
          "Get the graph instance operation status.": {
            "$ref": "examples/graph-instance-operation-status-get.json"
          }
        }
      }
    }
  },
  "parameters": {
    "SubscriptionId": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The unique identifier for a Microsoft Azure subscription."
    },
    "ResourceGroupName": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group within the Azure subscription.",
      "x-ms-parameter-location": "method"
    },
    "MediaServicesAccountName": {
      "name": "accountName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Media Services account name.",
      "x-ms-parameter-location": "method"
    },
    "ApiVersion": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The Version of the API to be used with the client request."
    }
  }
}
